@import url("https://fonts.googleapis.com/css2?family=Londrina+Sketch&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #dbdbdb;
  font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
  display: none;
}

header {
  font-family: "Londrina Sketch", sans-serif;
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
  height: 90px;
  background: #79edff;
  border-radius: 0 0 20px 20px;
  box-shadow: 0px 0px 6px black;
}

.pages {
  background-color: white;
  border-radius: 10px;
}

.pages a {
  display: inline-flex;
  gap: 20px;
  padding: 8px;
  border-radius: 10px;
  transition: 0.5s;
}

.pages a:hover {
  background: #000;
  color: white;
  scale: 1.1;
}

.auth {
  display: flex;
  gap: 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo img {
  width: 50px;
}

header a {
  text-decoration: none;
  color: black;
}

.news {
  overflow-x: auto;
  padding: 10px;
  gap: 20px;
  display: flex;
}

.card {
  width: 400px;

  height: 300px;
  border-radius: 10px;
  background: white;
  font-size: 20px;
  display: inline-flex;
  flex-direction: column;
}

.card img {
  height: 180px;
  width: 400px;
  object-fit: cover;
  object-position: top;
  border-radius: 10px 10px 0 0;
}

.card p {
  margin: 10px;
}

.partners {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  gap: 20px;
}

.container {
  display: flex;
  padding-top: 40px;
  justify-content: center;
}

.partners img {
  width: 100%;
}